html, body {
    background: #006064;
    color: #ffffff;
    font-family: "Roboto";
    font-size: 1.125em;
}

.container img {
    margin: 0 auto;
    display: flex;
    max-width: 100%;
}

a, a:visited {
    color: #00BCD4;
}

a:hover, a:active {
    color: #FFFFFF;
}

@media (min-width: 768px) {
    .container {
        width: 70%;
        margin: 0 auto;
    }

    .container img {
        max-width: 80%;
    }
}